*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
!dist/passerelle-sms.apk
*.ap_
*.aab
*.dex
*.class
!gradle/wrapper/gradle-wrapper.jar
.kotlin
